# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dist/
build/

# Hugedata (DON'T PUSH THESE)
ml/**
backend/data/** 
!backend/data/skills_dict.json
backend/models/**
*.pkl
*.csv
*.json
!backend/skills_dict.json

# Allow important scripts
!download_ml_files.py
!start.sh


# OS junk
.DS_Store
Thumbs.db

# Env
.env
