# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dist/
build/

# Hugedata (DON'T PUSH THESE)
ml/
backend/data/
backend/models/
*.pkl
*.csv
*.json

# OS junk
.DS_Store
Thumbs.db

# Environment
.env