body {
  background: #f5f6fa;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 10px;
}
